<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>week5</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/2.0.1/spinkit.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <loading :is-loading="isLoading"></loading>

    <div class="container py-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-2 mb-5">
        <div class="col" v-for="(product, index) in products" :key="index">
          <div class="card h-100 custom-card" @click.prevent="showProductModal($event, product.id)">
            <div class="card-img" :style="{backgroundImage: 'url(' +  product.imageUrl + ')'}"></div>
            <div class="card-body">
              <h5 class="card-title mb-3 text-center fw-bold">{{ product.title }}</h5>
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center" v-if="product.origin_price != product.price">
                  <p class="card-text mb-0 me-2 text-danger fw-bold h5">{{ product.price }} 元</p>
                  <p class="card-text mb-0"><del>{{ product.origin_price }} 元</del></p>
                </div>
                <p class="card-text mb-0 h5" v-else>{{ product.origin_price }} 元</p>
                <a href="#" class="custom-card-link ms-auto" @click.prevent="addToCart(product)">
                  <span class="material-icons align-middle">
                    shopping_cart
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-5">
        <div class="col-12 col-md-6 py-4">
          <h3 class="mb-4 text-center fw-bold">購物車</h3>
          <div class="text-end mb-4">
            <button class="btn btn-outline-danger" @click.prevent="showDelModal('delAllCart')" :disabled="carts.final_total == 0">清空購物車</button>
          </div>
          <table class="table mb-5" v-if="carts.final_total !== 0">
            <thead>
              <tr>
                <th scope="col" class="text-center">名稱</th>
                <th scope="col" class="text-center" width="180">數量</th>
                <th scope="col" class="text-center" width="80">價格</th>
                <th scope="col" width="80"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="( cart, index ) in carts.carts" :key="index">
                <td class="align-middle">{{ cart.product.title }}</td>
                <td class="align-middle">
                  <div class="input-group">
                    <a href="#" class="btn btn-sm btn-secondary" type="button" @click.prevent="updateCartItem(cart, cart.qty-1)">
                      <span class="material-icons align-middle">
                        remove
                      </span>
                    </a>
                    <input type="number" class="form-control bg-white text-center" :value="cart.qty" readonly>
                    <a href="#" class="btn btn-sm btn-secondary" type="button" @click.prevent="updateCartItem(cart, cart.qty+1)">
                      <span class="material-icons align-middle">
                        add
                      </span>
                    </a>
                  </div>
                </td>
                <td class="text-end align-middle">$ {{ cart.total }}</td>
                <td class="text-end align-middle">
                  <a href="#" class="btn btn-sm btn-outline-danger" @click.prevent="showDelModal('delCartItem', cart)">
                    <span class="material-icons align-middle">
                      close
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>總計</td>
                <td colspan="2" class="text-end">$ {{　carts.final_total }}</td>
              </tr>
            </tfoot>
          </table>
          <p class="h5 text-center fw-normal" v-else>購物車是空的</p>
        </div>
        <div class="col-12 col-md-6 py-4 bg-white">
          <h3 class="mb-4 text-center fw-bold">訂單資料</h3>
          <v-form class="row g-3" v-slot="{ errors }" @submit="createOrder">
            <div class="col-md-6">
              <label for="name" class="form-label"><span class="text-danger fw-bold">*</span>姓名</label>
              <v-field id="name" name="姓名" type="text" class="form-control" :class="{ 'is-invalid': errors['姓名'] }"
                placeholder="請輸入姓名" rules="required" v-model="form.user.name"></v-field>
              <error-message name="姓名" class="invalid-feedback"></error-message>
            </div>
            <div class="col-md-6">
              <label for="tel" class="form-label"><span class="text-danger fw-bold">*</span>電話</label>  
              <v-field id="tel" name="電話" type="tel" class="form-control" :class="{ 'is-invalid': errors['電話'] }"
                placeholder="請輸入電話" :rules="isPhone" v-model="form.user.tel"></v-field>
              <error-message name="電話" class="invalid-feedback"></error-message>
            </div>
            <div class="col-12">
              <label for="email" class="form-label"><span class="text-danger fw-bold">*</span>電子郵件</label>
              <v-field id="email" name="電子郵件" type="email" class="form-control" :class="{ 'is-invalid': errors['電子郵件'] }"
                placeholder="請輸入電子郵件" rules="email|required" v-model="form.user.email"></v-field>
              <error-message name="電子郵件" class="invalid-feedback"></error-message>
            </div>
            <div class="col-12">
              <label for="address" class="form-label"><span class="text-danger fw-bold">*</span>地址</label>
              <v-field id="address" name="地址" type="text" class="form-control" :class="{ 'is-invalid': errors['地址'] }"
                placeholder="請輸入地址" rules="required" v-model="form.user.address"></v-field>
              <error-message name="地址" class="invalid-feedback"></error-message>
            </div>
            <div class="col-12 mb-3">
              <label for="message" class="form-label">留言</label>
              <textarea class="form-control" id="message" rows="3" placeholder="請輸入留言" v-model="form.message"></textarea>
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary" :disabled="Object.keys(errors).length !== 0 | carts.final_total == 0">送出訂單</button>
            </div>
          </v-form>
        </div>
      </div>
      
    </div>

    <del-cart-modal ref="delCartModal" :temp-cart="tempCart" :is-loading="isLoading" @show-toast="showToast" @toggle-loading="toggleLoading" @get-carts="getCarts"></del-cart-modal>

    <product-modal ref="productModal" :is-loading="isLoading" @show-toast="showToast" @toggle-loading="toggleLoading" @add-to-cart="addToCart"></product-modal>

    <toast ref="toastMessage" :message="message"></toast>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>
  <script src="js/index.js" type="module"></script>
</body>
</html>